* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    margin: 7px;
    font-size: 20px;
    
}

main{
    width:87%;
    margin: 0px auto;
}

header div, footer{
    background-color: rgba(106, 123, 139, 1);
}

.flex{
    display: flex;
    
}

.flex.header-flex{
    align-items: center;
    height:90px;

}

.header-flex-items{
    margin-left: 2rem;
}


.header-flex-item2{
    margin-left: auto;
}

.header-flex-item4{
    margin-right: 100px;
}

.header-flex > a{
    text-decoration: none;
}

.header-flex > a , .footer-flex>div> p{
    font-size: 0.9rem;
    color: white;
}

.header-img{
    height:60px;
    width:170px;
}


/* footer */  
.flex.footer-flex{
    height:150px;
    align-items: center;
    
}

.footer-img{
    height:90px;
    width:60px;
}

.logo_linkedin,.logo_twitter,.logo_facebook{
    height:1.5rem;
    width:1.5rem;
}


.footer-flex-items2{
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.flex.footer-flex p{
    margin-bottom: 10px;
}
.logo-items{
    margin-right: 1.5rem;
}

/* index-page */
.main-logo{
    display: block;
    width: 210px;
    height: 210px;
    margin: 0px auto;
}
.hero-img{
    background-repeat: no-repeat;
    width:100%;
    
}

.index-h1{
    font-weight:bold;
    color:whitesmoke;
    position:absolute;
    left: 0;
    right: 0;
    top:60%;
    text-align: center;
}

.index-h2{
    text-align: center;
    font-size: 200%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cafe, .gens, .histories{
    flex-direction: column;
    padding:40px;
    align-items: center;
    background-color: rgba(186, 193, 200, 1);
    /* height: 50vh; */
    align-content: center;
    margin-bottom: 50px;
}

.icon-cafe, .icon-gens , .icon-histories{
    height:100px;
    width: 100px;
}

.flex-items{
    width: 33.3%;
}

.flex-items:not(:last-child){
    margin-right:20px; 
}

.index-flex-items{
    margin-top: 20px;
}


section h3, section p{
    color: white;

}


.btn{
    display: block;
    background-color: rgba(106, 123, 139, 1);
    border-radius: 10px;
    box-shadow:0px 1px rgb(47, 47, 48); ;
    width:200px;
    height: 50px;
    margin: 50px auto;
    font-size: 0.8rem;
    color: white;
}

.index-h4{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 30px;
}

.flex.cafe-open{
    margin-bottom: 20px;
    margin-left:100px;
}

.cafe-open-logo{
    height:100px;
    /* margin-right: 10px; */
}

.cafe-open-logo-text{
    padding-top: 40px;
    padding-left: 20px;
    font-weight: bold;
}  

.cafe-open {
    
    align-items: center;
}

.flex-btn{
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    margin-left: 150px;
    

}

.flex-items-buttoms{
    margin-bottom: 40px;
    margin-right:50px;
}

.paragraph-bottom1, .paragraph-bottom2{
    text-align: center;
    margin-bottom: 50px;;
}

.paragraph-bottom2{
    font-size: 1.3rem;
}